body{
    background-color: #1a0721;
}
a{
    color:#872341;

}
input{
    background-color: #1d0525;
    color: white;
    border-radius: 20px;
    width: 15%;
    height: 45px;
    padding-left: 5px;
    text-align: center;
}

button{
    background-color: #BE3144;


}
.container {
    display: flex;
    padding-left:40px;
    flex-direction: row;

}
.container .input_container{
    padding-top: 15%;
    display: flex;
    padding-left:40px;
    padding-right: 20%;
    flex-direction: column;
}
.container button{
    margin-bottom: 10px;
    padding-left: 2px;
    width: 100%;
     border: none; /* Remove the button border */ /* Remove the button outline */

}
.container button:hover{
    background-color: #6b1d26;
}
.container #run-algorithm-btn{
    margin-left: 20px;
    border-radius: 20px;

}
.input_container input,
.container #sorted-list-container {
    margin-bottom: 20px;
    width: 120%;
    border:none/* Espacio entre cada elemento */
}
nav{
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-bottom: 0px;
    padding-top: 38px;
    width: 100%;
}
nav .galley-tittle{
    display: inline-block;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 70px;
}
section {
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;

}
a:hover{
    opacity: .5;
}
.container .Algorithms{
    background-color: white;
    color:black;
    margin-top: 2%;
    margin-right: 2%;
    padding-top: 20%;
    padding-right: 30%;
    padding-left: 10%;
    border-radius: 10px;
    width: 300px;
    height: 300px;

}

